<h1>avalição</h1>
<p>
  Essa é sua oportunidade de mostrar o que você sabe sobre boas práticas de desenvolvimento
  e modelagem. Durante a avaliação do teste alguns pontos se destacam como importante para
  nós e outros são bacanas, mas não fundamentais:
</p>
<ul>

  <li>
    <img src="../src/assets/iamgem/imagem.png" />
  </li>
</ul>
<p>
  Com o novo produto FaleMais da XPTOTel o cliente adquire um plano e pode falar de graça até
  um determinado tempo (em minutos) e só́paga os minutos excedentes. Os minutos
  excedentes tem um acréscimo de 10% sobre a tarifa normal do minuto. Os planos são:
  FaleMais 30 (30 minutos), FaleMais 60 (60 minutos) e FaleMais 120 (120 minutos).
</p>

<p>
  A XPTOTel, preocupada com a transparência junto aos seus clientes, quer disponibilizar uma
  página na web onde o cliente pode calcular o valor da ligação. Ali, o cliente pode escolher os
  códigos das cidades de origem e destino, o tempo da ligação em minutos e escolher qual o
  plano FaleMais. O sistema deve mostrar dois valores: (1) o valor da ligação com o plano e (2)
  sem o plano. O custo inicial de aquisição do plano deve ser desconsiderado para este
  problema.
</p>
<ul>
  <li>
    <img src="C:\Users\Derrick\Desktop\Projetos\ntitsolutions\src\WebUI\ClientApp\src\assets\iamgem\iamgem 2.png" />
  </li>
</ul>
